@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
    background-image: url(../images/Screened-Back-Logo.png);
    background-position: 100% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5 {
    text-align: center;
}
p {
    text-align: center;
    line-height: 1.7;
}
.logo {
    width: 20vw;
    margin-right: 15px;
}
.navStyles {
    background-color: #23a2e0;
    display: flex;
    justify-content: space-between;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.navbar-brand {
    margin-right: 5px;
}
.navLinkContainer {
    margin: auto;
    justify-content: flex-end;
}
.nav-link {
    color: white !important;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 0px 5px 15px !important;
    user-select: none;
}
.navbar-toggler {
    border: none;
    margin: 10px 0 0;
    justify-content: flex-end;
    padding: 0;
}
.fa-bars:before {
    color: white !important;
    opacity: 1;
    justify-content: flex-end;
}
.fa-bars {
    justify-content: flex-end !important;
    user-select: none;
}
.fa-bars:focus {
    user-select: none;
}
/* .loginContainer {
    top: -5px;
    cursor: pointer;
    z-index: 1000;
    position: relative;
} */
.login-dropdown {
    cursor: pointer;
}
/* #loginDropdown.nav-link.dropdown-toggle {
    font-size: 12px !important;
    margin: 0;
    user-select: none;
} */
.btn-orange {
    /* background-color: #ec9825; */
    /* margin: 10px; */
    font-size: 16px;
}
.dropdown-menu {
    min-width: 135px !important;
    max-width: 135px !important;
    /* border: 2px solid #23a2e0; */

}
div.dropdown-menu.show {
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 0;
}
.askregs {
    background-color: #a8bac4 !important;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none;
        user-select: none;
    justify-content: space-between;
    height: 44px;
    /* z-index: 999 !important; */
}
#ask-regs-accordion {
    background-color: #a8bac4;
    display: block;
    position: relative;
    /* z-index: 999 !important; */
}
#ask-regs-header {
    color: #ff0000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    /* z-index: 999 !important; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.accordian-hide {
    display: block;
    position: relative;
    height: 44px !important;
}
.accordian-show {
    display: block;
    position: relative;
    margin: 0;
}
.alertHead {
    font-family: 'Open Sans';
    margin: 0;
}
.textAnimation {
    -webkit-animation: heartbeat 1500ms ease 750ms 3 both;
    animation: heartbeat 1500ms ease 750ms 3 both;
    padding-top: 5px;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-10 16:58:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        10% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        17% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        33% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        99% {
            color: #ff0000;
        }
        100% {
            color: #0d67a1;
        }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    99% {
        color: #ff0000;
    }
    100% {
        color: #0d67a1;
    }
  }
.regs {
    position: relative;
    display: block;
    background-color: #a8bac4 !important;
    justify-content: center;
    padding: 15px 50px;
    /* z-index: 999 !important; */
    width: 100%;
    margin: 0 auto !important;
}
.col.alert-col {
    margin-bottom: 0 !important;
    padding: 15px !important;
}
.alert-header {
    font-weight: 600;
    text-align: left;
}
.alert-content {
    text-align: left;
    font-size: 14px;
    margin: 0;
}
.collapsed-header .fa-window-close {
    display: none;
}
.expanded-header .fa-window-close {
    display: inline-block;
}
.collapsed-header .fa-caret-square-down {
    display: inline-block;
}
.expanded-header .fa-caret-square-down {
    display: none;
} 
.v-separator-alert {
    margin: auto;
    justify-content: center;
    background-color: #a8bac4 !important;
}
.v-separator-alert .col:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
}    
.v-separator-alert .col:nth-child(2) {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
} 
.v-separator-alert .col:nth-child(3) {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-right: 15px;
    position: relative;
}
.ask-regs-all {
    display: block;
    position: relative;
    margin: 25px auto 0 !important;
    background-color: #a8bac4 !important;
}
.regs.toggle-show-all-regs {
    display: block;
    position: relative;
    margin: 0 auto !important;
    padding-bottom: 25px;
  background-color: #a8bac4 !important;
    /* z-index: 1000 !important; */
    -webkit-animation: slide-in-top 1s  ease-in-out both;
        animation: slide-in-top 1s  ease-in-out both;
}
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
      -webkit-transform: scaleY(0);
      -webkit-transform-origin: top;
            transform: translateY(-100px);
            transform: scaleY(0);
            transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-transform: scaleY(1);
      -webkit-transform-origin: top;
            transform: translateY(0);
            transform: scaleY(1);
            transform-origin: top;
      opacity: 1;
    }
}
  @keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
            transform: translateY(-100px);
            transform: scaleY(0);
            transform-origin: top;
        opacity: 1;
      }
    100% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
            transform: translateY(0);
            transform: scaleY(1);
            transform-origin: top;
        opacity: 1;
      }
}
.regs.hide-all-regs {
    display: none;
}
.regs.toggle-hide-all-regs {
    display: block;
    position: relative;
    margin: auto;
    height: 44px !important;
    background-color: #a8bac4 !important;
    /* z-index: 1000 !important; */
	-webkit-animation: slide-out-top 1s  ease-in-out both;
        animation: slide-out-top 1s  ease-in-out both;
}
 @-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
              transform: translateY(0);
              transform: scaleY(1);
              transform-origin: top;
        opacity: 1;
        background-color: #a8bac4 !important;
        /* z-index: 1000 !important; */
    }
    100% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
              transform: translateY(-100px);
              transform: scaleY(0);
              transform-origin: top;
        opacity: 1;
        background-color: #a8bac4 !important;
        /* z-index: 1000 !important; */
    }
}
  @keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
              transform: translateY(0);
              transform: scaleY(1);
              transform-origin: top;
        opacity: 1;
        background-color: #a8bac4 !important;
        /* z-index: 1000 !important; */
    }
    100% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
              transform: translateY(-100px);
              transform: scaleY(0);
              transform-origin: top;
        opacity: 1;        
        background-color: #a8bac4 !important;
 
        /* z-index: 1000 !important; */
    }
}
.welcome {
    background-color: #14567c;
    color: white;
    padding: 25px 20px;
    background-image: url(../images/AdobeStock_284672312_Preview.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-header {
    font-weight: 700;
    letter-spacing: .05em;
}
.search-field-desktop {
    display: none;
    width: 80%;
    margin: 35px auto 10px;
}
.search-field-mobile {
    display: block;
    width: 80%;
    margin: 15px auto 25px;
}
#search-input.form-control {
    border-radius: 0;
    display: relative;
}
.btn.btn-search {
    background-color: #ec9825;
    color: white;
    padding: 0px 10px;
}
.container.announcement {
    background-color: #dedede;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    padding: 0;
}
.announcement-header {
    font-weight: 300;
    padding-top: 25px;
}
.announcement-text {
    padding: 5px 25px 25px;
}
.container.main-area {
    padding-bottom: 50px;
    margin-top: 25px;
    box-sizing: border-box;
}
/* .main-inside-left {
    padding: 0 5px 0 0px; 
} */
/* .main-inside-right {
    padding: 0 0 0 25px;
} */
.card {
    border: #dedede 4px solid;
    margin: 5px auto;
    border-radius: 2px;
    position: relative;
}
.card-header {
    position: relative;
    background-color: #fff !important;
}
.card-title {
    text-align: left;
    font-weight: 600;
}
.card-text {
    text-align: left;
}
.card-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* .cardSize {
    padding: 0;
} */
.category {
    display: inline-block;
    margin: 3px;
}
.category-tag {
    position: relative;
    display: inline-block;
    background-color: #ebebeb;
    cursor: pointer;
    height: auto;
    width: auto;
    margin-right: 2px;
    padding: 2px 4px;
    border: 2px solid #dedede;
    /* border-top: 2px solid #dedede;
    border-left: 2px solid #dedede;
    border-bottom: 2px solid #dedede; */
    border-radius: 1px;
  }
.tag-right {
    position: absolute;
    display: block;
    background-color: #ebebeb;
    /* background-color: red; */
    border: 2px solid #dedede;
    border-radius: 2px;
    box-sizing: border-box;
    height: auto;
    width: auto;
    right: -13px;
    margin: 5px auto;
    top: -1px;
    bottom: 0px;
        -ms-transform: rotate(45deg); 
        -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
    z-index: -1;
  }
.tag-right:before {
    content: '';
    height: 4px;
    width: 4px;
    background-color: #dedede;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 9px; 
    right: -8px;
  }
p.category-text {
    margin: 2px;
    font-weight: 400;
    text-align: left;
    color: #58585a;
    padding: 0;
    font-size: 12px;
    position: relative;
    line-height: 1.5;
    flex-basis: 0;
    width: auto;
}
.btn-vmore {
    text-align: center;
    width: 100%;
    font-weight: 600;
    display: block;
    border-radius: 0;
    padding: 5px 5px;
    margin: 15px auto;
}
.footerNav {
    justify-content: flex-start;
}
.footerNavSocial {
    padding: 20px 50px 25px 0;
    margin-bottom: 0 !important;
    margin-left: -10px;
    justify-content: flex-start;
}
.footer-toggler {
    align-self: flex-start;
    justify-self: flex-end;
    margin: 0;
}
.bottomT {
    background-color: #14567c;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}
.bottomB {
    background-color: #0e3258;
    width: 100%;
    box-sizing: border-box;
}
.social {
    color: white;
    padding: 0px 5px;
    margin:  5px;
    font-size: 26px;
}
.address {
    position: relative;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.footer-link {
    text-decoration: underline;
    padding: 0px !important;
    font-size: 14px;
}
.copyright {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
}
.bottomContainer {
    margin: auto;
}
.v-separator {
    padding-left: 0;
}
.v-separator .footerNav:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 5px;
    position: relative;
}    
.v-separator .footerNav:nth-child(2) {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 0px;
    position: relative;
} 

@media only screen and (min-width: 575px) {
    body {
        background-position: 99% 94% !important;
        background-size: 42% !important;
    }    
    .navbar-brand {
        margin-right: 25px;
    }
    .logo {
        width: 10vw;
        margin-right: 25px;
    }
    /* .login-dropdown {
        top: -25px;
    } */
    .welcome {
        padding: 25px 50px;
    }
    .regs {
        padding: 15px 75px;
    }
    .container.main-area {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bottomContainer {
        padding: 0;
    }
}

@media only screen and (min-width: 767px) {
    body {
        background-position: 99% 100% !important;
        background-size: 45% !important;
    }
    .search-field-desktop {
        display: block;
        width: 80%;
        margin: 35px auto 10px;
    }
    .search-field-mobile {
        display: none;
        width: 80%;
        margin: 15px auto 25px;
    }
    /* .main-inside-left {
        padding: 0 5px 0 0px;
    } */
    .main-inside-right {
        padding: 0 15px 0 15px;
    }
    .card {
        margin: 15px auto;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-position: 99% 94% !important;
        background-size: 42% !important;
    }
    .regs {
        padding: 15px 75px;
    }
    .col.alert-col {
        padding: 0 25px 0 !important;
        margin: 0;
    }
    .v-separator-alert {
        margin: auto;
    }
    .v-separator-alert .col:first-child {
        border-right: 1px solid black;
        padding-right: 30px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator-alert .col:nth-child(2) {
        border-right: 1px solid black;
        padding-right: 30px;
        position: relative;
        border-bottom: none;
    } 
    .v-separator-alert .col:nth-child(3) {
        border-right: 1px solid black;
        padding-right: 30px;
        margin-right: 0px;
        position: relative;
        border-bottom: none;
    }
    .footerNav {
        margin: 0 50px 0 0 !important;
    }
    .v-separator .footerNav:first-child {
        border-right: 1px solid white;
        padding-right: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator .footerNav:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        position: relative;
        border-bottom: none;
    } 
}

@media only screen and (min-width: 1050px) {
    body {
        background-position: 100% 97% !important;
        background-size: 42% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .regs {
        padding: 15px 125px;
    }
    body {
        background-position: 100% 98% !important;
        background-size: 38% !important;
    }
    .v-separator .footerNav:first-child {
        border-right: 1px solid white;
        padding-right: 80px;
        margin-right: 80px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator .footerNav:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 80px;
        margin-right: 80px;
        position: relative;
        border-bottom: none;
    }   
}