@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.main-body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
    background-image: url(../images/Screened-Back-Logo.png);
    background-position: 100% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5 {
    text-align: center;
}
a {
    color: none;
}
p {
    text-align: center;
    line-height: 1.7;
}
.logo {
    width: 20vw;
    margin-right: 15px;
    text-decoration: none !important;
}
.logo:hover {
    text-decoration: none !important;
}
.a-logo:hover {
    text-decoration: none !important;
}
.navStyles {
    background-color: #23a2e0;
    display: flex;
    justify-content: space-between;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.navbar-brand {
    margin-right: 5px;
}
.navbar-brand:hover {
    text-decoration: none !important;
}
.navLinkContainer {
    margin: auto;
    justify-content: flex-end;
}
.nav-link {
    color: white !important;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 0px 5px 15px !important;
    user-select: none;
}
.navbar-toggler {
    border: none;
    margin: 10px 0 0;
    justify-content: flex-end;
    padding: 0;
}
.fa-bars:before {
    color: white !important;
    opacity: 1;
    justify-content: flex-end;
}
.fa-bars {
    justify-content: flex-end !important;
    user-select: none;
}
.fa-bars:focus {
    user-select: none;
}
/* .loginContainer {
    top: -5px;
    cursor: pointer;
    z-index: 1000;
    position: relative;
} */
.login-dropdown {
    cursor: pointer;
}
/* #loginDropdown.nav-link.dropdown-toggle {
    font-size: 12px !important;
    margin: 0;
    user-select: none;
} */
.btn-orange {
    /* background-color: #ec9825; */
    /* margin: 10px; */
    font-size: 16px;
}
.nav-item-dropdown {
    color: black;
}
.dropdown-menu {
    min-width: 135px !important;
    max-width: 135px !important;
}
div.dropdown-menu.show {
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 0;
}
.askregs {
    background-color: #a8bac4 !important;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none;
        user-select: none;
    justify-content: space-between;
    height: 44px;
}
#ask-regs-accordion {
    background-color: #a8bac4;
    display: block;
    position: relative;
}
#ask-regs-header {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.accordian-hide {
    display: block;
    position: relative;
    height: 44px !important;
}
.accordian-show {
    display: block;
    position: relative;
    margin: 0;
}
.alertHead {
    font-family: 'Open Sans';
    margin: 0;
    color: #0d67a1;
}
.textAnimation {
    -webkit-animation: heartbeat 1500ms ease 750ms 3 both;
    animation: heartbeat 1500ms ease 750ms 3 both;
    padding-top: 5px;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-10 16:58:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        10% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        17% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        33% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        /* 99% {
            color: #ff0000;
        }
        100% {
            color: #0d67a1;
        } */
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    /* 99% {
        color: #ff0000;
    }
    100% {
        color: #0d67a1;
    } */
  }
.regs {
    position: relative;
    display: block;
    background-color: #a8bac4 !important;
    justify-content: center;
    padding: 15px 50px;
    z-index: 999 !important;
    width: 100%;
    margin: 0 auto !important;
}
.col.alert-col {
    margin-bottom: 0 !important;
    padding: 15px !important;
}
.alert-header {
    font-weight: 600;
    text-align: left;
}
.alert-content {
    text-align: left;
    font-size: 14px;
    margin: 0;
}
.alert-icons {
    color: #0d67a1;
}
.collapsed-header .fa-window-close {
    display: none;
}
.expanded-header .fa-window-close {
    display: inline-block;
}
.collapsed-header .fa-caret-square-down {
    display: inline-block;
}
.expanded-header .fa-caret-square-down {
    display: none;
} 
.v-separator-alert {
    margin: auto;
    justify-content: center;
    background-color: #a8bac4 !important;
}
.v-separator-alert .col:first-child {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
    margin: 0 0 15px;
    position: relative;
}    
.v-separator-alert .col:nth-child(2) {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
    margin: 0 0 15px;
    position: relative;
} 
.v-separator-alert .col:nth-child(3) {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
    margin: 0 0 15px;
    position: relative;
}
.ask-regs-all {
    display: block;
    position: relative;
    margin: 25px auto 0 !important;
    background-color: #a8bac4 !important;
}
.regs.toggle-show-all-regs {
    display: block;
    position: relative;
    margin: 0 auto !important;
    padding-bottom: 25px;
    background-color: #a8bac4 !important;
    -webkit-animation: slide-in-top-SHOW 500ms  ease-in-out both;
        animation: slide-in-top-SHOW 500ms  ease-in-out both;
}
 @-webkit-keyframes slide-in-top-SHOW {
    0% {
      -webkit-transform: translateY(-100px);
      -webkit-transform: scaleY(0);
      -webkit-transform-origin: top;
            transform: translateY(-100px);
            transform: scaleY(0);
            transform-origin: top;
      opacity: 1;
      height: 44px !important;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-transform: scaleY(1);
      -webkit-transform-origin: top;
            transform: translateY(0);
            transform: scaleY(1);
            transform-origin: top;
      opacity: 1;
      height: auto;
    }
}
  @keyframes slide-in-top-SHOW {
    0% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
            transform: translateY(-100px);
            transform: scaleY(0);
            transform-origin: top;
        opacity: 1;
        height: 44px !important;
      }
    100% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
            transform: translateY(0);
            transform: scaleY(1);
            transform-origin: top;
        opacity: 1;
        height: auto;
      }
}
.regs.hide-all-regs {
    display: none;
}
.regs.toggle-hide-all-regs {
    display: block;
    position: relative;
    margin: auto;
    background-color: #a8bac4 !important;
	-webkit-animation: slide-out-top-HIDE 550ms  ease-in-out both;
        animation: slide-out-top-HIDE 550ms  ease-in-out both;
}
 @-webkit-keyframes slide-out-top-HIDE {
    0% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
              transform: translateY(0);
              transform: scaleY(1);
              transform-origin: top;
        opacity: 1;
        height: auto;
    }
    100% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
              transform: translateY(-100px);
              transform: scaleY(0);
              transform-origin: top;
        opacity: 1;
        height: 44px !important;
    }
}
  @keyframes slide-out-top-HIDE {
    0% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
              transform: translateY(0);
              transform: scaleY(1);
              transform-origin: top;
        opacity: 1;
        height: auto;
    }
    100% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
              transform: translateY(-100px);
              transform: scaleY(0);
              transform-origin: top;
        opacity: 1;        
        height: 44px !important;
    }
}
.welcome {
    background-color: #14567c;
    color: white;
    padding: 25px 20px;
    background-image: url(../images/AdobeStock_284672312_Preview.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-header {
    font-weight: 700;
    letter-spacing: .05em;
}
.search-field-desktop {
    display: none;
    width: 80%;
    margin: 35px auto 10px;
}
.search-field-mobile {
    display: block;
    width: 80%;
    margin: 15px auto 25px;
}
#search-input.form-control {
    border-radius: 0;
    display: relative;
    margin: auto;
}
.btn.btn-search {
    background-color: #ec9825;
    color: white;
    padding: 0px 10px;
}
.container.announcement {
    background-color: #dedede;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    padding: 0;
}
.announcement-header {
    font-weight: 300;
    padding-top: 25px;
}
.announcement-text {
    padding: 5px 25px 25px;
}
.container.main-area {
    padding-bottom: 50px;
    margin-top: 25px;
    box-sizing: border-box;
}
.card {
    border: #dedede 4px solid;
    margin: 5px auto;
    border-radius: 2px;
    position: relative;
}
.card-header {
    position: relative;
    background-color: #fff !important;
}
.card-title {
    text-align: left;
    font-weight: 600;
}
.card-text {
    text-align: left;
}
.card-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
.category {
    display: inline-block;
    margin: 3px;
}
.category-tag {
    position: relative;
    display: inline-block;
    background-color: #ebebeb;
    cursor: pointer;
    height: auto;
    width: auto;
    margin-right: 2px;
    padding: 2px 4px;
    border: 2px solid #dedede;
    border-radius: 1px;
  }
p.category-text {
    margin: 2px;
    font-weight: 400;
    text-align: left;
    color: #58585a;
    padding: 0;
    font-size: 12px;
    position: relative;
    line-height: 1.5;
    flex-basis: 0;
    width: auto;
}
.btn-vmore {
    text-align: center;
    width: 100%;
    font-weight: 600;
    display: block;
    border-radius: 0;
    padding: 5px 5px;
    margin: 15px auto;
}
.footerNav {
    justify-content: flex-start;
}
.footerNavSocial {
    padding: 20px 50px 25px 0;
    margin-bottom: 0 !important;
    margin-left: -10px;
    justify-content: flex-start;
}
.footer-toggler {
    align-self: flex-start;
    justify-self: flex-end;
    margin: 0;
}
.bottomT {
    background-color: #14567c;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}
.bottomB {
    background-color: #0e3258;
    width: 100%;
    box-sizing: border-box;
}
.social {
    color: white;
    padding: 0px 5px;
    margin:  5px;
    font-size: 26px;
}
.social:hover {
    color: #a8bac4;
    text-decoration: none;
}
.address {
    position: relative;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.footer-link {
    text-decoration: underline;
    padding: 0px !important;
    font-size: 14px;
}
.copyright {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
}
.bottomContainer {
    margin: auto;
}
.v-separator {
    padding-left: 0;
}
.v-separator .footerNav:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 5px;
    position: relative;
}    
.v-separator .footerNav:nth-child(2) {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 0px;
    position: relative;
} 

/* ------------------------ ASK A QUESTION ------------------------ */
.page-head {
    margin: 30px auto 25px;
}
.card-title.page-head {
    font-size: 24px;
}
.question-intro {
    text-align: left !important;
}
.input-label {
    text-align: left !important;
}
.custom-file-input {
    background-color: #14567c;
}
.btn-custom {
    border-radius: 2px;
    background-color: #14567c;
    color: white;
    margin-top: 20px;
}
.btn-custom:hover {
    background-color: #a8bac4;
    color: white;
}
.question-container {
    height: 40px;
    width: auto;
    padding: 10px 0;
    margin: 5px auto;
}
.question-container2 {
    height: 40px;
    width: auto;
    margin: 10px auto;
}
.btn-custom.add-file {
    background-color: #a8bac4;
    color: black;
    margin: 15px 0 10px;
    cursor: pointer;
}
.btn-custom:hover {
    background-color: #75848d;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 25px;
    width: 25px;
    /* background-color: #eee; */
    border-radius: 3px;
    border: 1px black solid;
  }
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* ------------------------ ARTICLE DETAILS ------------------------ */
.container-article-details {
    margin: 25px auto;
}
/* .article-header {
    font-weight: 600;
    margin: 0;
} */
.article-id {
    /* color: #78c06d; */
    position: relative;
    display: block;
    margin: 5px 0;
    font-size: 14px;
}
.article-views {
    position: relative;
    display: block;
    /* text-decoration: underline; */
    font-style: italic;
    margin: 5px 0;
    font-size: 14px;
}
.star-rating {
    margin: 0;
    cursor: pointer;
    display: block;
    text-align: left;
}
.fa-info-circle {
    cursor: pointer;
}
.btn-custom-article {
    border-radius: 2px;
    background-color: #14567c;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin: 9px 0 0;
    font-size: 14px;
}
.btn-custom-article:hover {
    background-color: #a8bac4;
    color: white;
}
.article-social-icons {
    text-align: center;
}
.social-solid {
    color: #14567c;
    margin: 0 3px;
    padding: 5px 0 0;
    font-size: 30px;
    text-align: center;
}
.social-solid:hover {
    color: #a8bac4;
    text-decoration: none;
}
.article {
    margin: 25px 0 0;
}
.article-rating {
    font-size: 14px;
}
.article-sub-head {
    font-weight: bolder;
    text-decoration: underline;
    text-align: left;
    margin: 0;
}
.article-copy {
    text-align: left;
}
.article-link {
    color: black;
    text-decoration: underline;
}
.disclaimer {
    /* color: #78c06d; */
    margin: 55px auto 45px;
    font-size: 14px;
    font-style: italic;
}

/* ------------------------ SEARCH PAGE ------------------------ */
/* .search-container {
    padding: 0;
}    */
.search-field {
    margin: 0; 
}
.card-search {
    border: #dedede 4px solid;
    margin: 0px auto;
    border-radius: 2px;
    position: relative;
    /* padding: 5px 10px; */
}
.search-category-box {
    text-align: left;
    margin: 5px 5px 5px 10px;
}
.search-category-line {
    border-bottom: #dedede 4px solid;
    width: 100%;
}
.search-category-div {
    margin: 5px 10px;
}
.filter-results {
    margin: 25px auto 15px;
}
.search-page-category {
    font-size: 14px;
}
.search-more-categories {
    text-align: left;
    margin: 0 0 10px 30px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}
.results-list {
    margin: 25px auto 10px;
}
.search-sort-dropdown {
    border: 1px solid black;
    border-radius: 0;
    margin: 8px auto 25px;
}
.search-result {
    margin: 20px auto;
}
.search-article-title {
    text-decoration: underline;
    color: black;
    margin: 0 0 5px 0;
}
.search-category-title {
    text-transform: uppercase;
    font-weight: 600;
    color: grey;
    font-size: 14px;
    margin: 2px 0 5px 0;
}
.search-article-text {
    text-align: left;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.btn-custom-ask-new {
    border-radius: 2px;
    background-color: #14567c;
    color: white;
    margin: 20px auto;
}
.btn-custom-ask-new:hover {
    background-color: #a8bac4;
    color: white;
}
/* --------------------------------------------------------------- */
/* ------------------------ MEDIA QUERIES ------------------------ */

@media only screen and (min-width: 575px) {
    .main-body {
        background-position: 99% 94% !important;
        background-size: 42% !important;
    }    
    .navbar-brand {
        margin-right: 25px;
    }
    .logo {
        width: 10vw;
        margin-right: 25px;
    }
    .welcome {
        padding: 25px 50px;
    }
    .regs {
        padding: 15px 75px;
    }
    .container.main-area {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bottomContainer {
        padding: 0;
    }
/* ------------------------ ARTICLE DETAILS ------------------------ */
    .star-rating {
    margin: 0 0 0 15px;
    display: inline-block;
    text-align: left;
}
    .article-social-icons {
        text-align: right;
    }
}

@media only screen and (min-width: 767px) {
    .main-body {
        background-position: 99% 100% !important;
        background-size: 45% !important;
    }
    .search-field-desktop {
        display: block;
        width: 80%;
        margin: 35px auto 10px;
    }
    .search-field-mobile {
        display: none;
        width: 80%;
        margin: 15px auto 25px;
    }
    /* .main-inside-left {
        padding: 0 5px 0 0px;
    } */
    .main-inside-right {
        padding: 0 15px 0 15px;
    }
    .card {
        margin: 15px auto;
    }
}

@media only screen and (min-width: 992px) {
    .main-body {
        background-position: 99% 94% !important;
        background-size: 42% !important;
    }
    .regs {
        padding: 15px 75px;
    }
    .col.alert-col {
        padding: 0 25px 0 !important;
        margin: 0;
    }
    .v-separator-alert {
        margin: auto;
    }
    .v-separator-alert .col:first-child {
        border-right: 1px solid black;
        padding-right: 30px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator-alert .col:nth-child(2) {
        border-right: 1px solid black;
        padding-right: 30px;
        position: relative;
        border-bottom: none;
    } 
    .v-separator-alert .col:nth-child(3) {
        border-right: 1px solid black;
        padding-right: 30px;
        margin-right: 0px;
        position: relative;
        border-bottom: none;
    }
    .footerNav {
        margin: 0 50px 0 0 !important;
    }
    .v-separator .footerNav:first-child {
        border-right: 1px solid white;
        padding-right: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator .footerNav:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        position: relative;
        border-bottom: none;
    } 
}

@media only screen and (min-width: 1050px) {
    .main-body {
        background-position: 100% 97% !important;
        background-size: 42% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .regs {
        padding: 15px 125px;
    }
    .main-body {
        background-position: 100% 98% !important;
        background-size: 38% !important;
    }
    .v-separator .footerNav:first-child {
        border-right: 1px solid white;
        padding-right: 80px;
        margin-right: 80px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator .footerNav:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 80px;
        margin-right: 80px;
        position: relative;
        border-bottom: none;
    }   
}