@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5 {
    text-align: center;
}
p {
    text-align: center;
    line-height: 1.7;
}
.logo {
    width: 20vw;
    margin-right: 15px;
    margin-left: 2%;
}
.navStyles {
    background-color: #23a2e0;
    padding-top: 10px;
}
.loginContainer {
    justify-self: flex-end;
    top: 0px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
}
.login-dropdown {
    position: absolute;
    top: -10px;
    right: 0;
    padding: 10px;
}
#loginDropdown.nav-link.dropdown-toggle {
    font-size: 12px !important;
    margin: 0;
}
.btn-orange {
    background-color: #ec9825;
    margin: 10px;
}
.dropdown-menu {
    width: 102px !important;
}
div.dropdown-menu.show {
    background-color: rgba(255, 255, 255, 0.836);
    margin-right: 25px;
    top: 35px;
    width: 102px !important;
}
.navbar-brand {
    margin: auto 15vw auto 5vw;
}
.navLinkContainer {
    margin: auto;
    justify-content: flex-end;
}
.nav-link {
    color: white !important;
    font-size: 14px;
    margin-top: 10px;
}
.navbar-toggler {
    border: none;
    margin-top: 10px;
}
.fa-bars:before {
    color: white !important;
    opacity: 1;
}
.askregs {
    background-color: #a8bac4;
    box-sizing: border-box;
    width: 100%;
    display: relative;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none;
        user-select: none;
    justify-content: space-between;
    height: 44px;
    z-index: 999 !important;
}
#ask-regs-accordion {
    height: 44px;
    z-index: 999 !important;
}
#ask-regs-header {
    color: #7d0065;
    margin-left: 5vw;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    z-index: 999 !important;
}
.regs {
    background-color: #a8bac4;
    justify-content: center;
    padding: 15px 10px;
    z-index: 999 !important;
    width: 100%;
    margin: 0;
}
.col.alert-col {
    margin-bottom: 0 !important;
    padding: 5px 5px 0 !important;

    padding: 5px;
}
.alert-header {
    font-weight: 600;
    text-align: left;
}
.alert-content {
    text-align: left;
    font-size: 14px;
    margin: 0;
}
.alert-icons {
    position: absolute;
    right: 55px;
} 
.collapsed-header .fa-window-close {
    display: none;
}
.expanded-header .fa-window-close {
    display: inline-block;
}
.collapsed-header .fa-caret-square-down {
    display: inline-block;
}
.expanded-header .fa-caret-square-down {
    display: none;
} 
.v-separator-alert .col:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
}    
.v-separator-alert .col:nth-child(2) {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
} 
.v-separator-alert .col:nth-child(3) {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.regs.toggle-show-all-regs {
    display: block;
    position: relative;
    z-index: 1000 !important;
    background-color: #a8bac4;
    -webkit-animation: slide-in-top 1s  ease-in-out both;
        animation: slide-in-top 1s  ease-in-out both;
}
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
      -webkit-transform: scaleY(0);
      -webkit-transform-origin: top;
            transform: translateY(-100px);
            transform: scaleY(0);
            transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-transform: scaleY(1);
      -webkit-transform-origin: top;
            transform: translateY(0);
            transform: scaleY(1);
            transform-origin: top;
      opacity: 1;
    }
}
  @keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
            transform: translateY(-100px);
            transform: scaleY(0);
            transform-origin: top;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
            transform: translateY(0);
            transform: scaleY(1);
            transform-origin: top;
        opacity: 1;
    }
}
.regs.hide-all-regs {
    display: none;
}
.regs.toggle-hide-all-regs {
    display: block;
    position: relative;
    z-index: 1000 !important;
	-webkit-animation: slide-out-top 1s  ease-in-out both;
        animation: slide-out-top 1s  ease-in-out both;
}
 @-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
              transform: translateY(0);
              transform: scaleY(1);
              transform-origin: top;
        opacity: 1;
        z-index: 1000 !important;
    }
    100% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
              transform: translateY(-100px);
              transform: scaleY(0);
              transform-origin: top;
        opacity: 1;
        z-index: 1000 !important;
    }
}
  @keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        -webkit-transform: scaleY(1);
        -webkit-transform-origin: top;
              transform: translateY(0);
              transform: scaleY(1);
              transform-origin: top;
        opacity: 1;
        z-index: 1000 !important;

    }
    100% {
        -webkit-transform: translateY(-100px);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top;
              transform: translateY(-100px);
              transform: scaleY(0);
              transform-origin: top;
        opacity: 1;     
        z-index: 1000 !important;
   
    }
}
.welcome {
    background-color: #14567c;
    color: white;
    padding: 25px;
    background-image: url(../images/AdobeStock_284672312_Preview.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-header {
    font-weight: 700;
    letter-spacing: .05em;
}
.search-field {
    width: 80%;
    margin: 35px auto 10px;
    z-index: 0;
}
.row.search-field {
    z-index: 0;
}
#search-input.form-control {
    border-radius: 0;
    z-index: 0;
    display: relative;
}
.input-group {
    z-index: 0 !important;
}
.btn.btn-search {
    background-color: #ec9825;
    color: white;
    padding: 0px 10px;
}
.input-group .form-control, .input-group-btn .btn { z-index: 0 !important; }
.container.announcement {
    background-color: #dedede;
    padding: 25px;
    margin: 25px auto;
    width: 85%;
    justify-content: center;
}
.announcement-header {
    font-weight: 300;
}
.container.main-area {
    background-image: url(../images/Screened-Back-Logo.png);
    background-position: 100% 104%;
    background-size: 42%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
        z-index: 0 !important;
    width: 90%;
}
.card {
    border: #dedede 4px solid;
    margin: 5px;
    border-radius: 2px;
    z-index: 0 !important;
}
.card-title {
    text-align: left;
    font-weight: 600;
}
.card-text {
    text-align: left;
}
.cardSize {
    padding: 5px;
    z-index: 0 !important;
}
.category {
    position: relative;
    display: inline-block;
    background-color: #ebebeb;
    border: #BCBCBC solid 1px;
    text-align: left;
    padding: 5px 7px 5px 5px;
    border-radius: 0;
    margin: 2px;
    width: auto;
    height: 100%;
    line-height: 20px;
}
/* .category:after {
    background-color: #ebebeb;
    border: inherit;
    border-radius: 4px;
    position: absolute;
    display: block;
    content: "";
    height: 75%;
    width: auto;
    min-width: 20px;
    right: -10px;
    top: 0;
    justify-self: center;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
    z-index: -1;
} */

p.category-text {
    margin: 0;
    font-weight: 400;
    text-align: left;
    white-space: pre-wrap;
    color: #58585a;
    padding: 0;
}
.btn-vmore {
    text-align: center;
    width: 100%;
    font-weight: 600;
    display: block;
    border-radius: 0;
    padding: 2px 5px;
}
.footerNav {
    margin: 0 50px 0 0 !important;
    justify-content: flex-start;
}
.footerNavSocial {
    padding: 20px 50px 25px 0;
    margin-bottom:0 !important;
    justify-content: flex-start;
}
.footer-toggler {
    align-self: flex-start;
    justify-self: flex-end;
    margin: 0;
}
.bottomT {
    background-color: #14567c;
    width: 100%;
    padding: 25px 50px;
    justify-content: space-between;
}
.bottomB {
    background-color: #0e3258;
    width: 100%;
    box-sizing: border-box;
}
.social {
    color: white;
    padding: 0px 5px;
    margin:  5px;
    font-size: 26px;
}
.address {
    position: relative;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
}
.footer-link {
    text-decoration: underline;
    padding: 5px;
}
.copyright {
    color: white;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
}
.v-separator .footerNav:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 5px;
    position: relative;
}    
.v-separator .footerNav:nth-child(2) {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 0px;
    position: relative;
} 

@media only screen and (min-width: 575px) {
    .navbar-brand {
        margin: auto 5vw auto 2vw;
    }
    .logo {
        width: 10vw;
        margin-right: 15px;
    }
    #ask-regs-header {
        margin-left: 3vw;
    }
}

@media only screen and (min-width: 767px) {
    .container.main-area {
        background-position: 99% 107%;
        background-size: 50%;
    }
}

@media only screen and (min-width: 990px) {
    .container.main-area {
        background-position: 99% 115%;
        background-size: 50%;
    }
    .v-separator-alert .col:first-child {
        border-right: 1px solid black;
        padding-right: 30px;
        margin-right: 30px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator-alert .col:nth-child(2) {
        border-right: 1px solid black;
        padding-right: 30px;
        margin-right: 30px;
        position: relative;
        border-bottom: none;
    } 
    .v-separator-alert .col:nth-child(3) {
        border-right: 1px solid black;
        padding-right: 30px;
        margin-right: 30px;
        position: relative;
        border-bottom: none;
    }
    .announcement {
        margin: 25px 100px;
    }
    .bottomT {
        padding: 25px 100px;
    }
    .copyright {
        padding: 10px 60px;
    }
    .v-separator .footerNav:first-child {
        border-right: 1px solid white;
        padding-right: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator .footerNav:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 40px;
        padding-bottom: 0;
        margin-right: 40px;
        position: relative;
        border-bottom: none;
    } 
}
@media only screen and (min-width: 1200px) {
    .container.main-area {
        background-position: 99% 130%;
        background-size: 45%;
    }
    .v-separator .footerNav:first-child {
        border-right: 1px solid white;
        padding-right: 80px;
        margin-right: 80px;
        position: relative;
        border-bottom: none;
    }    
    .v-separator .footerNav:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 80px;
        margin-right: 80px;
        position: relative;
        border-bottom: none;
    } 
    
}