@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

/* orange: e4621c */
/* lighter teal near bottom: 1797b7 */
/* lt grey background f0f0f0 */
/* dark grey web dev background 292929 */

/* grey text in dropdown: 7c7c7c */
/* Web Dev body text and learm more buttons: #a9afb8 */
/* dark blue bottom: 07516e */

/* light: 300
Regular: 400
Medium: 500
Semi-bold: 600
bold: 700
black: 900 */


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    color: #444444;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
  }
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    padding: 0px 50px !important;
}
.btn-default { 
    border-radius: 0; 
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    margin: auto;
    max-width: 300px;
    padding: 3px 10px;
}
.btn-outline-primary { 
    border-radius: 0; 
    border: 2px #e4621c solid;
    color: #e4621c;
    white-space: nowrap;
}
.btn-outline-primary:hover { 
    border-radius: 0; 
    border: 2px #1797b7 solid;
    color: #1797b7;
    white-space: nowrap;
    background-color: #fff;
}
.btn-outline-primary.contact-button { 
    display: none;
}
.btn-outline-primary.contact-button:hover { 
    display: none;
}
.btn-outline-primary.contact-button-mobile { 
    position: relative;
    display: block;
    margin-top: 25px;
    float: left;
}
.btn-outline-primary.contact-button-mobile:hover { 
    position: relative;
    float: left;
    background: none;
}
.btn-outline-grey { 
    border-radius: 0; 
    border: 2px #9198a1 solid;
    color: #a9afb8;
    white-space: nowrap;
}
.btn-outline-grey:hover { 
    border-radius: 0; 
    border: 2px #e4621c solid;
    color: #e4621c;
    white-space: nowrap;
}
.btn-outline-white { 
    border-radius: 0; 
    border: 2px #fff solid;
    color: #fff;
    white-space: nowrap;
}
.btn-outline-white:hover { 
    border-radius: 0; 
    border: 2px #e4621c solid;
    color: #e4621c;
    white-space: nowrap;
}
.logo {
    width: 50vw;
}
.phone {
    display: none;
}
.phone-container {
    display: none;
}
.nav-styles {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff !important;
    z-index: 3;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.fa-times {
    position: relative;
    margin: 0;
    color: white;
    text-align: left;
}
.navbar-toggler {
    border: none;
    padding: 0;
    margin: 0;
    top: 20px;
    right: 50px;
    z-index: 10 !important;
    position: absolute;
    color: #e4621c !important;
}
.navbar-toggler:focus {
    outline: none;
}
.nav-link {
    user-select: none;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 10px !important;
    color: #fff !important;
    display: flex;
    justify-content: space-between;
}
.nav-link[aria-expanded="true"] .caret-up{
    display: inline;
    padding-top: 3px;
}
.nav-link[aria-expanded="false"] .caret-up{
    display: none;
}
.nav-link[aria-expanded="true"] .caret-down{
    display: none;
}
.nav-link[aria-expanded="false"] .caret-down{
    display: inline;
    padding-top: 3px;
}
.nav-link:hover {
    color: #1797b7 !important;
}
.navbar {
    width: 100%;
    padding: 8px 0;
}
.navbar-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 5 !important;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-nav {
    position: relative;
    background: #292929;
    width: 90vw;
    padding: 70px 25px 25px;
    z-index: 5 !important;
}
.dropdown-toggle:after {
    content: none;
}
.dropdown-menu {
    left: auto;
    top: auto;
    border: none;
    margin-top: 10px;
    border-radius: 0;
}
.dropdown-menu.show {
    left: auto;
    top: auto;
    border: none;
    margin: 0;
    padding: 0 0 10px;
    border-radius: 0;
    background: none;
}
.mobile-contact {
    display: block;
    user-select: none;
    font-weight: 700;
    font-size: 14px;
    margin: 60px auto 0;
    padding: 10px 0 !important;
    color: #fff !important;
}
.mobile-dash {
    color: #fff;
    display: inline;
    padding-left: 25px;
}
.dropdown-item {
    display: inline;
    color: #fff;
    padding: 0;
    margin: 5px auto;
    font-size: 14px;
}
.dropdown-item:hover {
    color: #9198a1;
    background: none !important;
}
.dropdown-divider-mobile {
    border-top: 1px solid #7c7c7c;
}
.dropdown-divider {
    border-top: 1px solid #7c7c7c;
}
.hero-color {
    color: #fff;
    text-align: center;
    transform: skew(0, 5deg);
    position: relative;
    height: 380px;
    z-index: 0;
}
.hero-image {
    position: relative;
    background-image: url('../images/Lighthouse.png');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: top right;
    transform: skew(0, -5deg);
    height: 500px;
    padding-top: 50px;
    z-index: 0;
}
.hero-container {
    margin: 30px auto;
    text-align: center;
}
.ms-headline {
    font-weight: 900;
    font-size: 34px;
    margin-top: 15px;
}
.ms-head-min {
    color: #fff;
}
.ms-head-min.top {
    width: 275px;
    font-size: 18px;
    line-height: 1.5;
    margin: 10px auto !important;
}
.ms-head {
    color: #fff;
    font-size: 18px;
}
.ms-head-min.middle {
    color: #e4621c;
    font-size: 18px;
}
.ms-head.ms-services{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.clutch {
    position: absolute;
    text-align: center;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    transform: skew(0, -5deg) !important;
}
.clutch-logo {
    width: 100px;
    padding: 5px;
}
.ms-info {
    width: auto;
    text-align: center;
    margin: 25px auto 0 auto !important;
    font-size: 14px;
}
.services {
    position: relative;
    background: #fff;
    text-align: center;
    padding: 60px 0;
    height: auto;
    transform: skew(0, 5deg);
    z-index: 1;
    margin: -30px 0 0;
}
.services-container {
    position: relative;
    margin-top: 10px;
    transform: skew(0, -5deg) !important;
}
.home-example {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ms-info {
    font-size: 14px;
    color: #a9afb8;
    line-height: 1.4;
    margin: 20px auto 30px !important;
}
.services-logo {
    width: 80px;
    margin: 10px auto 20px;
}
.card-title {
    font-size: 18px;
    color: black;
    white-space: normal;
    font-weight: 600;
}
.card-text {
    font-size: 16px;
    color: #a9afb8;
    line-height: 1.5;
    max-width: 300px;
    margin: 0 auto 15px;
}
.card-text.project {
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 2;
    width: auto;
}
.services-container {
    padding: auto 15px;
}
.card-body {
    padding: 0;
}
.card-size {
    padding: 20px 0;
    text-align: center;
}    
.card-size-services {
    padding: 8px 10px 15px;
    text-align: center;
}
.card-size-services-left {
    padding: 8px 10px 15px 0;
    text-align: center;
}
.card-size-services-right {
    padding: 8px 0 15px 10px;
    text-align: center;
}
.card-size-grey {
    padding: 30px 0 0px;
    text-align: center;
}
.card-size-info-grey {
    padding: 20px 0 40px;
    text-align: center;
}
.card-size-white {
    padding: 30px 0 10px;
    text-align: center;
    order: 1;
}
.card-size-info-white {
    padding: 0px 0 40px;
    text-align: center;
    order: 2;
}
.home-example {
    height: 250px;
    position: relative;
}
.example-logo {
    position: relative;
    width: 150px;
    margin: 0 auto 15px;
}
.example-logo-grey {
    width: 150px;
    margin: 0 auto 15px;
}
.card-grey {
    position: relative;
    background: #f0f0f0;
    transform: skew(0, 5deg);
    height: auto;
}
.card-white {
    position: relative;
    margin: auto;
}
.card-grey-inner {
    position: relative;
    transform: skew(0, -5deg);
}
.card {
    border: none;
    margin: auto;
    background: none;
}
.testimonial-image {
    position: relative;
    background: #7c7c7c;
    background-image: url('../images/AdobeStock_305724406.png');
    background-size: cover;
    background-position: top center;
    height: 450px;
    z-index: -1;
    margin: -60px 0 0;
}
.ms-head.testimonial {
    padding: 150px 0 0;
    text-align: center;
}
.testimonial-quote {
    font-style: italic;
    font-size: 16px;
    color: #fff;
    max-width: 600px;
    margin: 35px auto 15px;
    text-align: center;
}
.testimonial-name {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.consultation-container {
    background: #1797b7;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
.btn-outline-white.consultation {
    margin: 25px auto 0;
    padding: auto;
}
.lighthouse-scene {
    width: 50vw;
    position: absolute;
    bottom: 0;
}
.bottom {
    background: #07516e;
    text-align: center;
    padding: 20px 0;
}
.copyright {
    color: white;
    font-size: 14px;
    margin: auto;
    width: 300px;
}
.privacy {
    color: white;
    text-decoration: underline;
}
.privacy:hover {
    color: #e4621c;
}
/* PORTFOLIO PAGE */
.hero-color-portfolio {
    color: #fff;
    text-align: center;
    transform: skew(0, 5deg);
    position: relative;
    height: 300px;
    z-index: 0;
}
.hero-image-portfolio {
    position: relative;
    background-image: url('../images/OurWorkColor.png');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: top right;
    transform: skew(0, -5deg);
    height: 500px;
    padding-top: 50px;
    z-index: 0;
}
.hero-container-portfolio {
    margin: 30px auto;
    text-align: center;
}
.testimonial-image-portfolio {
    position: relative;
    background: #7c7c7c;
    background-image: url('../images/AdobeStock_305724406.png');
    background-size: cover;
    background-position: top center;
    height: 450px;
    z-index: -1;
    margin: 0px 0 0;
}
.portfolio-main {
    transform: skew(0, 5deg);
    background: #fff;
    z-index: 1;
    margin: -30px 0 0;
    padding-bottom: 1px;
}
.portfolio-filter {
    margin: 100px auto 0;
}
.portfolio-container {
    transform: skew(0, -5deg);
    z-index: 1;
    text-align: center;
}
.filter-container {
    margin: 30px auto 0;
    width: 100%;
}
.filter-dropdown {
    border: 1px solid #a9afb8;
    border-radius: 0;
    margin: 0px 5px 0;
    width: auto;
    flex: 1;
}

.btn.btn-search {
    background-color: #ec9825;
    color: white;
    padding: 0px 10px;
    height: 38px;
    width: 38px !important;
    margin-left: 5px;
}
.ms-headline-portfolio {
    font-weight: 900;
    font-size: 34px;
    margin-top: 50px;
}
.portfolio-examples {
    margin: 100px auto;
}
.ms-head.ms-portfolio{
    color: black;
    font-size: 22px;
    font-weight: 600;
    padding: 100px 0 0;
}
.ms-head-min.middle-portfolio {
    color: #e4621c;
    font-size: 18px;
}
.ms-head-min.middle-portfolio-filter {
    color: #a9afb8;
    font-size: 18px;
}
.ms-info-portfolio-bold {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
}
.portfolio-logo {
    width: 200px;
    margin: 50px auto 10px;
}
.card-size-portfolio {
    padding: 20px;
    text-align: center;
}
.card-title-portfolio {
    font-size: 18px;
    color: black;
    white-space: normal;
    font-weight: 600;
}
.card-text.portfolio {
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 2;
    width: auto;
}
.testimonial-image-portfolio {
    position: relative;
    background: #7c7c7c;
    background-image: url('../images/AdobeStock_305724406.png');
    background-size: cover;
    background-position: top center;
    height: 450px;
    z-index: -1;
    margin: -60px 0 0;
}







/* --------------------------------------------------------------- */
/* ------------------------ MEDIA QUERIES ------------------------ */

/* SMALL SCREEN */
@media only screen and (min-width: 575px) {
    .logo {
        width: 30vw;
    }
    .ms-headline {
        font-size: 26px;
        margin-top: -30px;
    }
    .ms-head-min.top {
        font-size: 16px;
        width: 350px;
    }
    .ms-head {
        font-size: 18px;
    }
    .ms-head-min.middle {
        font-size: 16px;
    }
    .services {
        position: relative;
        background: #292929;
        height: auto;
        transform: skew(0, 5deg);
        margin-top: -140px;
    }
    .ms-head.ms-services{
        color: #fff;
        font-size: 22px;
    }
    .ms-info {
        max-width: 600px;
        text-align: center;
        margin: 25px auto 0 auto !important;
        font-size: 16px;
    }
    .services-logo {
        width: 30px;
        margin: 0 auto 10px;
    }
    .card-title {
        font-size: 18px;
        color: #fff;
    }
    .card-text {
        font-size: 16px;
        color: #a9afb8;
        line-height: 1.4;
        max-width: 300px;
        margin: 0 auto 15px;
    }
    .card-text.project {
        font-size: 16px;
    }
    .card-size-services {
        padding: 20px 10px 25px;
    }
    .card-size-services-left {
        padding: 20px 10px 25px 0;
    }
    .card-size-services-right {
        padding: 20px 0 25px 10px;
    }
    .card-size-grey {
        padding: 30px 0 20px;
    }
    .card-size-info-grey {
        padding: 40px 0 40px;
        text-align: center;
    }
    .hero-color {
        height: 500px;
    }
    .hero-image {
        position: relative;
        background-image: url('../images/Lighthouse.png');
        background-size: cover;
        /* background-position: right top; */
        height: 550px;
        background-position: top center;

    }
    .hero-container {
        margin: 50px auto 0;
    }
    .clutch {
        top: -150px;
    }
    .clutch-logo {
        width: 115px;
    }
    .copyright {
        width: auto;
    }
    .ms-head.testimonial {
        font-size: 22px;
    }
    .testimonial-quote {
        font-size: 16px;
    }
}

/* MEDIUM SCREEN */
@media only screen and (min-width: 768px) {
    .container-fluid {
        padding: 0px 75px !important;
    }
    .logo {
        width: 20vw;
    }
    .phone {
        display: block;
        background: #e4621c;
        color: #fff;
        text-align: right;
        font-size: 14px;    
    }
    .phone-container {
        display: block;
        padding: 0;
    }
    .btn-outline-primary.contact-button { 
        display: inline-block;
        margin: 2px 0 0 10px;
    }
    .btn-outline-primary.contact-button:hover { 
        display: inline-block;
        margin: 2px 0 0 10px;
    }
    .btn-outline-primary.contact-button-mobile { 
        display: none;
    }
    .btn-outline-primary.contact-button-mobile:hover { 
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
    .nav-link[aria-expanded="true"] .caret-up{
        display: none;
    }
    .nav-link[aria-expanded="false"] .caret-down{
        display: none;
    }
    .dropdown-menu {
        left: auto;
        top: auto;
        border: none;
        margin-top: 10px;
        border-radius: 0;
    }
    .dropdown-menu.show {
        margin-top: 14px;
        background: #fff;
    }
    .mobile-dash {
        display: none;
    }
    .dropdown-item {
        color: #7c7c7c;
        margin: 5px 25px;
    }
    .dropdown-divider-mobile {
        display: none;
    }
    .dropdown-divider-mobile {
        border-top: 2px solid #7c7c7c;
    }
    .contact-mobile-text {
        display: none;
    }
    .mobile-contact {
        display: none;
    }
    .nav-link {
        font-size: 14px;
        padding: 5px 10px 0px !important;
        color: #292929 !important;
    }
    .navbar-nav {
        background: none;
        width: auto;
        right: 0px;
        padding: 10px 75px 10px 0;
    }
    .btn-outline-primary.contact { 
        margin-top: 0;
    }
    .btn-outline-primary.contact:hover { 
        margin-top: 0;
    }
    .hero-image {
        background-size: 100%;
    }
    /* .hero-container {

    } */
    .card-size-services {
        padding: 20px 25px 25px;
    }
    .card-size-services-left {
        padding: 20px 25px 25px 0;
    }
    .card-size-services-right {
        padding: 20px 0 25px 25px;
    }
    .ms-headline {
        font-size: 32px;
        margin-top: -30px;
    }
    .ms-head-min {
        font-size: 16px;
    }
    .ms-head-min.top {
        width: 400px;
        font-size: 16px;
    }
    .ms-head {
        font-size: 22px;
    }
    .ms-head-min.middle {
        font-size: 16px;
    }
    .clutch {
        top: -200px;
    }
    .clutch-logo {
        width: 125px;
    }
    .services {
        margin-top: -80px;
    }
    .ms-info {
        max-width: 800px;
        font-size: 16px;
    }
    .card-grey {
        height: auto;
    }
    .card-title {
        font-size: 18px;
    }
    .card-text {
        font-size: 16px;
        max-width: 450px
    }
    .card-size {
        padding: 10px;
    }
    .card-size-grey {
        padding: 0 0 40px;
    }
    .card-size-info-grey {
        padding: 50px 0 30px;
    }
    .card-size-white {
        order: 2;
        padding: 10px 0 50px;
    }
    .card-size-info-white {
        order: 1;
        padding: 0px 0 70px;
    }
    .card-text.project {
        font-size: 16px;
        width: 300px;
    }
    .example-logo {
        padding-top: 15px;
    }
    .example-logo-grey {
        padding-top: 15px;
    }
    .testimonial-image {
        height: 550px;
        margin: -60px 0 0;
        background-position: top -100px center;
    }
}

/* LARGE SCREEN */
@media only screen and (min-width: 992px) {
    .nav-link {
        font-size: 14px;
        padding: 5px 30px 0px !important;
    }
    .card-size {
        padding: 30px;
    }
    .card-text.project {
        width: 400px;
    }
    .hero-container {
        padding-right: 300px;
    }
    .ms-headline {
        font-size: 36px;
    }
    .ms-head-min.top {
        font-size: 18px;
    }
    .clutch {
        top: -250px;
    }
    .clutch-logo {
        width: 150px;
    }
    .services {
        margin-top: -20px
    }
    .testimonial-image {
        height: 600px;
        background-position: top -100px center;
    }
    .testimonial-quote {
        font-size: 16px;
        max-width: 700px;
    }
    .testimonial-name {
        font-size: 16px;
    }
}

/* X-LARGE SCREEN */
@media only screen and (min-width: 1050px) {
    .testimonial-image {
        background-position: top -150px center;
    }
}

/* XX-LARGE SCREEN */
@media only screen and (min-width: 1200px) {
    .hero-container {
        padding-right: 200px;
    }
    .hero-image {
        height: 800px;
    }
    .hero-color {
        height: 725px;
    }
    .ms-headline {
        font-size: 40px;
    }
    .clutch {
        top: -350px;
    }
    .clutch-logo {
        width: 150px;
    }
    .services {
        margin-top: -120px;
    }
    .testimonial-image {
        margin: -100px 0 0;
        background-position: top -180px center;
        height: 700px;
    }
    .testimonial-quote {
        max-width: 1000px;
    }
    .card-title {
        font-size: 18px;
    }
    .ms-head.ms-services {
        font-size: 24px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-text.project {
        font-size: 14px;
        width: 500px;
    }
}
@media only screen and (min-width: 1550px) {
    .testimonial-image {
        background-position: top -220px center;
        height: 800px;
    }
}